/*/target/
/*/build/
/*/.gradle/
/client-moe/xcode/ios.xcodeproj/project.xcworkspace/xcuserdata/ondrasek.xcuserdatad/UserInterfaceState.xcuserstate
/client-moe/xcode/ios.xcodeproj/xcuserdata/ondrasek.xcuserdatad/xcschemes/xcschememanagement.plist
/client-moe/xcode/ios.xcodeproj/project.xcworkspace/xcuserdata/ondrasek.xcuserdatad/WorkspaceSettings.xcsettings
/client-moe/xcode/ios.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist